.item {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 600px;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5D7DA2;
  color: #FFFFFF
}

.head--item {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;
}

.content--graph {
  flex: 1;
  border: 2px solid grey;
  height: 250px
}

.content--info {
  flex: 2;
}

.content--info section {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 10px 1rem;
}

.section--left {
  flex: 1;
  text-align: left;
  margin: 0;
  color: #C0916E;
}

.section--right {
  flex: 2;
  text-align: right;
  margin: 0;
}

@media (max-width: 700px) {
  .item {
    width: 100%;
  }
  .content {
    flex-direction: column-reverse;
  }
}