.form {
  width: 25rem;
}

.control {
  margin: 0.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  font-size: 13px;
  color: black;
  padding: 0.2rem 0.2rem;
  margin-right: 5px;
  width: 30%;
  text-align: right;
}

.control input,
.control select {
  flex: 5;
  font: inherit;
  font-size: 13px;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control textarea {
  flex: 5;
  font: inherit;
  font-size: 13px;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-height: 100px;
  max-height: 400px;
}

.control--error input,
.control--error select {
  border-color: red;
}

.error--message {
  color: red;
  margin: 0;
  font-style: italic;
  font-size: 12px;
  position: relative;
  bottom: 5px;
  right: 5%;
}

.actions {
  text-align: right;
}

.actions button {
  margin: 0 0.5rem 0.5rem 0;
}

@media (max-width: 550px) {
  .form {
    width: 20rem;
  }
  .control {
    flex-direction: column;
  }
  .control label {
    width: 100%;
    text-align: left;
  }
  .error--message {
    position: relative;
    bottom: 5px;
    right: 32.5%;
  }
}
