.dashboard {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.item {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 10px;
  background-color: whitesmoke;
}

.item h3 {
  margin: 2px 0;
  position: relative;
  top: -3%;
}

@media (max-width: 980px) {
  .dashboard {
    width: 99%;
  }
  .item {
    width: 100%;
  }
}