.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  
}

.date {
  display: flex;
  flex-direction: column;
  min-width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.date__year {
  font-size: 0.75rem;
}

.date__day {
  font-size: 1.5rem;
  font-weight: bold;
}

.item__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    
    /* flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1; */
  }

  .item__description h2,
  .item__description p {
    margin: 0;
  }

  .item__amount {
    font-size: 1rem;
    font-weight: bold;
    color: #e3e3e3;
    background-color: #455d7a;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }
