* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #dbe2e2;
}

.main {
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main--alt {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  width: 100%;
}

.main--alt_sidebar {
  flex: 1;
  text-align: center;
}

.main--alt_content {
  flex: 2;
  text-align: center;
}


.navbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  width: 15rem;
  height: 5rem;
}

.button {
  text-decoration: none;
  font: inherit;
  background-color: lightskyblue;
  color: black;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid lightskyblue;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: black;
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.5);
}

.button--flat {
  cursor: pointer;
  font: inherit;
  color: #455d7a;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.button--flat:hover,
.button--flat:active {
  background-color: lightcoral;
  color: white;
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.5);
}

@media (max-width: 550px) {
  .main {
    width: 99%;
  }
}